<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h5 class="card-header">Create Blog</h5>
        <div class="card-body">

          <%= form_with(model: @blog) do |form| %>
            <div class="row g-3">

              <div class="col-md-6">
                <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
              </div>

              <div class="col-md-6">
                <%= form.text_field :description, class: "form-control", placeholder: "Description" %>
              </div>

              <div class="col-md-12 trix-body">
                <%= form.rich_text_area :body, class: "form-control" %>
              </div>

              <div class="col-12 tab-end">
                <%= link_to "Back", blogs_path,  class: "btn btn-primary"%>
                <%= form.submit "Submit", class: "btn btn-primary"%>
              </div>
            </div>

          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
